USE [master]
GO
/****** Object:  Database [Shopbridge]    Script Date: 11/05/2022 12:34:57 AM ******/
CREATE DATABASE [Shopbridge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shopbridge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\Shopbridge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shopbridge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\Shopbridge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shopbridge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shopbridge]
GO
USE [Shopbridge]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/05/2022 12:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/05/2022 12:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Stock] [int] NOT NULL,
	[Weight] [nvarchar](max) NULL,
	[ProductLocation] [nvarchar](max) NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[SKU] [nvarchar](max) NULL,
	[SupplierName] [nvarchar](max) NULL,
	[ProductAvailable] [bit] NOT NULL,
	[HSNCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 11/05/2022 12:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 11/05/2022 12:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Images] [varbinary](max) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 11/05/2022 12:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Size] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220510024444_Shopbridge', N'5.0.14')
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Product_Id], [Name], [Description], [Price], [Category], [Stock], [Weight], [ProductLocation], [Discount], [DiscountValue], [SKU], [SupplierName], [ProductAvailable], [HSNCode]) VALUES (1, N'Dell Laptop', N'Dell Laptop', CAST(10000.00 AS Decimal(18, 2)), N'Electronic', 100, N'500 gm', N'Mumbai', CAST(7.50 AS Decimal(18, 2)), CAST(9250.00 AS Decimal(18, 2)), N'Bhiwandi', N'Dell LTD', 1, N'1000')
INSERT [dbo].[Product] ([Product_Id], [Name], [Description], [Price], [Category], [Stock], [Weight], [ProductLocation], [Discount], [DiscountValue], [SKU], [SupplierName], [ProductAvailable], [HSNCode]) VALUES (2, N'Dell Laptop New', N'Dell Laptop New', CAST(15000.00 AS Decimal(18, 2)), N'Electronic', 100, N'500 gm', N'Mumbai', CAST(7.50 AS Decimal(18, 2)), CAST(13875.00 AS Decimal(18, 2)), N'Bhiwandi', N'Dell LTD', 1, N'1000')
INSERT [dbo].[Product] ([Product_Id], [Name], [Description], [Price], [Category], [Stock], [Weight], [ProductLocation], [Discount], [DiscountValue], [SKU], [SupplierName], [ProductAvailable], [HSNCode]) VALUES (4, N'HP Laptop New', N'HP Laptop New', CAST(15000.00 AS Decimal(18, 2)), N'Electronic', 100, N'500 gm', N'Mumbai', CAST(7.50 AS Decimal(18, 2)), CAST(13875.00 AS Decimal(18, 2)), N'Bhiwandi', N'Dell LTD', 1, N'1000')
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[ProductColor] ([Id], [Product_Id], [Color]) VALUES (1, 1, N'Black')
INSERT [dbo].[ProductColor] ([Id], [Product_Id], [Color]) VALUES (1, 2, N'Black')
INSERT [dbo].[ProductColor] ([Id], [Product_Id], [Color]) VALUES (1, 4, N'Black0')
INSERT [dbo].[ProductSize] ([Id], [Product_Id], [Size]) VALUES (1, 1, N'24 inch')
INSERT [dbo].[ProductSize] ([Id], [Product_Id], [Size]) VALUES (1, 2, N'24 inch')
INSERT [dbo].[ProductSize] ([Id], [Product_Id], [Size]) VALUES (1, 4, N'24 inch')
/****** Object:  Index [IX_ProductColor_Product_Id]    Script Date: 11/05/2022 12:34:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductColor_Product_Id] ON [dbo].[ProductColor]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_Product_Id]    Script Date: 11/05/2022 12:34:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_Product_Id] ON [dbo].[ProductImages]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSize_Product_Id]    Script Date: 11/05/2022 12:34:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSize_Product_Id] ON [dbo].[ProductSize]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Product_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_Product_Product_Id]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Product_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Product_Product_Id]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Product_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [FK_ProductSize_Product_Product_Id]
GO
USE [master]
GO
